*{
    
        /* Base64 encoded transparent gif */
    background: url(./img/Sea\ Blue.jpg);
    
}
.My_title{
    color:rgb(140, 140, 243);
    text-align: center;
    font-size: 48px;
    font-family: "Arial Narrow",sans-serif;
}