*{
    font-family:'Roboto',sans-serif;    
}
body{
    
        /* Base64 encoded transparent gif */
    /*background: url(./img/Forever\ Lost.jpg);*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin:0;    
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    background: rgb(83, 151, 151);
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0%;
    margin-right: 0%;
    
    background: transparent;
    color:white;
    
}
.logo{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    width: 100%;
    text-align: center;    
    font-size: 28px;
    font-weight: bold;
    font-family: "Arial Narrow",sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;    
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial Narrow",sans-serif;
}
a{
    display: flex;
    text-decoration: none;
    color:white;
}

.container1{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:normal;
    height: 200px;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-right: 0%;    
    background: rgb(160, 185, 185);
    border-radius: 30px;

}
.text1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    font-size: 18px;
    text-align: center;
    color:rgb(18, 26, 20);
    
    
}

.container2{
    display:flex;
    flex-direction: row;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10px;
    padding-left: 2%;
    background-color: rgb(126, 153, 161);
    
    
}

.allText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    color:black;
    color:rgb(105, 94, 73)
}

.imageText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    background-color:white;
    text-align: center;
}


.container3{
    display:flex;
    height: 200px;
    margin-left: 0%;
    margin-right: 0%;
    background: rgb(119, 161, 161);
    border-radius: 30px;
}








footer{    
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 18px;
}

.rigth{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 50%;
    text-align: right;
    
}
.left{
    display:flex;    
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    padding-right: 0;
    text-align: left;
}